---
import BaseLayout from "../layouts/BaseLayout.astro"
import { getCollection } from "astro:content"
const allPosts = await getCollection("blog")
const pageTitle = "The Blog"
---

<BaseLayout pageTitle={pageTitle}>
    <div class="breadcrumbs text-sm">
        <ul>
          <li><a href="/">Home</a></li>
          <li>Blog</li>
        </ul>
      </div>
    <h1 class="text-4xl font-bold text-center pt-8 pb-4">{pageTitle}</h1>
    <div>
        <ul>
            {allPosts.map((post: any) => <li><a href={`/posts/${post.id}`} class="hover:text-blue-600">{post.data.title} - {post.data.pubDate.toLocaleDateString()}</a></li>)}
        </ul>
    </div>
</BaseLayout>