---
import BaseLayout from "./BaseLayout.astro"
import Prose from "../components/Prose.astro"
const {frontmatter} = Astro.props
const dateOptions: object = {
    year: "numeric",
    month: "long",
    day: "numeric",
    timeZone: "UTC"
}

---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="px-6 md:px-2">
        <div class="breadcrumbs text-sm pt-6">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/blog/">Blog</a></li>
              <li>{frontmatter.title}</li>
            </ul>
          </div>
        <h1 class="text-5xl font-bold text-center pt-8">{frontmatter.title}</h1>
        <p class="font-semibold text-center p-2 md:text-2xl text-lg">{frontmatter.pubDate.toLocaleDateString("en-US", dateOptions)}</p>
        <div class="text-center p-4">
            {frontmatter.tags.map((tag:any) => <a href={`/tags/${tag}`} class="underline p-4">{tag}</a>)}
        </div>
        <div class="pb-6">
            <img src={frontmatter.image.url} alt="Main Image" class="shadow-lg object-contain"/>
        </div>
        <div class="pb-8">
            <Prose>
                <slot/>
            </Prose>
        </div>
    </div>
</BaseLayout>
